.gallery-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 2em;
    /* background: #000; */
}
.gallery-item{
    width: 30%;
    height: auto;
    filter: drop-shadow(0px 4px 7px #000000); 
    flex-wrap: wrap;
}
.gallery-item img {
    width: 100%;
    height: 30em;
    cursor: pointer;
    flex-wrap: wrap;
    /* border-radius: 100%; */
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}
.lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
/* .lightbox-content button{
    position: relative;
    top: -10%;
    width: 900%;
} */
.lightbox-img {
    width: auto;
    height:100vh;
    margin-bottom: 5em;
    margin-top: 5em;
}
@media screen and (max-width:400px) {
    .lightbox-img {
        width: auto;
        height:50vh;
        margin-bottom: 5em;
        margin-top: -2em;
        display: flex;
        flex-wrap: wrap;
    
    }
    .gallery-item{
        width: 100%;
        height: auto;
        filter: drop-shadow(0px 4px 7px #000000); 
        flex-wrap: wrap;
    }

}
.lightbox-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    /* transform: translateY(-50%); */
    background:none ;
    border:none;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
}
.lightbox-btn-left {
    left: 30px;
}
.lightbox-btn-right {
    right: 30px;
}
.close-btn{
    position: absolute;
    top: 3%;
    left: 9%;
    margin-left: 80%;
}
.filter-btns{
    margin-top: 10em;
    /* background: #000; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    /* column-gap: 5em; */
}