#carouselExampleAutoplaying{
    margin-top: 9em;
}
/* footer  */
footer a{
text-decoration: none;
color: aliceblue;
}
.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

/* icons  
*/

.fixed-icon {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 999;
  
  }
  .fixed-icon i{
    position: relative;
    width: 50px;
    height: 50px;
    /* margin-top: 40em; */
    cursor: pointer;
  }